@import url('https://fonts.googleapis.com/css?family=Lato');



@function color($key) {
  @if map-has-key($colors,
  $key) {
    @return map-get($colors,
    $key)
  }
}




.button {
  &__scroll {
    &--up {
      z-index: 1000;
      position: fixed;
      right: 120px;
      bottom: 24px;
      border-radius: 100%;
      border: 0;
      width: 55px;
      height: 55px;
      font-size: 1.7em;
      outline: none;
      color: #fff;
      transform: scale(0);
      box-shadow: 0 2px 5px rgba(000, 000, 000, .3);
      transition: all .2s cubic-bezier(.25,.8,.25,1);
      background: $verde;

      @media screen and (max-width: 766px){
          display: none !important;
        }
        

      &:hover{
          cursor: pointer;
      }
    }
  }
 
}

.is_showing {
  display: block;
  transform: scale(1);
}