.header{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50vh;
  background-color: $azul;
  margin: 0;
  position: relative;
  // border: 1px solid red;
  @media screen and (max-width: 500px){
    height: 180px;
  }
  
  .header_home{
   height: 63vh;  
  }

  .titulo_pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    flex-direction: column;
    hgroup, h1{
      text-align: center;
      color: white;
      text-transform: uppercase;
    }
    h1, h2{
      font-family: $fuenteTitulo1 !important;
    }
    h2{
      margin-bottom: -10px;
      font-size: 25px;
      @media screen and (max-width: 500px){
        font-size: 15px;
        margin-bottom: -7px;
      }
    }
    h1{
      font-size: 30px;
      @media screen and (max-width: 500px){
        font-size: 20px;
      }
    }
  }
  figure img{
    height: 100px;
  }
  #expo{
    height: 200px;
    @media screen and (max-width: 500px){
      height: 150px;
    }
  }
}

.header:before,
	.header:after {
    content: "";
    position: absolute;
    z-index: -2;
    // border: 2px solid red;
		bottom:15px;
		left:10px;
		width:100%;
		height:20%;
		max-width:93%;
		max-height:100px;
		-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
		   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
				box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
		-webkit-transform:rotate(-1deg);
		   -moz-transform:rotate(-1deg);
			-ms-transform:rotate(-1deg);
			 -o-transform:rotate(-1deg);
				transform:rotate(-1deg);
	}

	.header:after {
		right:10px;
		left:auto;
		-webkit-transform:rotate(1deg);
		   -moz-transform:rotate(1deg);
			-ms-transform:rotate(1deg);
			 -o-transform:rotate(1deg);
				transform:rotate(1deg);
	}
