.hotel{
  .hotel__dato{
    color: $primaryColor;  
  }
   .tituloTabla{
      background-color: $primaryColor;
      padding: 8px 10px;
      text-align: center;
      color: white;
      font-weight: bold;
  }
}