.boleto{
  background-image: linear-gradient(315deg, #00dfbf, #4184e5);
  color: $white;
  // border: #00dfbf 2px solid;
  padding: 2rem 0rem;
  border-radius: 0px 30px;
  width: 400px;
  position: relative;
  overflow: hidden;

  .cinta {
  background-color: red;
  min-width: 140px;
  transform: rotate(40deg);
  position: absolute;
  top: 20px;
  right: -25px;
  text-align: center;
  border: 0px;
  box-shadow: #000b03 2px 2px 10px;
  }

  .cinta span {
    letter-spacing: 0px;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  &-btn{
    // position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    // margin-top: 20px;
  }

  &-titulo{
    font-family: 'Antonio Bold';
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    color: $primaryColor;
    img{
      margin-right: 0.5rem;
    }
  }
  &-precio{
    font-family: 'Montserrat Bold';
    text-align: center;
    font-size: 2.7rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem 0 0;
  }
  &_precio_final{
    opacity: 0.5;
    scale: 0.6;
    
  }
  &-descripcion{
    font-size: 0.8rem;
    min-height: 240px;
    padding: 1rem 2rem;
  }
  &__active{
    // border: #c00ab3 2px solid;
  }
  strong{
    font-size: 0.7rem;
    color:#00dfbf;
      margin-top:-0.5rem;
  }
}