.video{
  box-shadow: #080127 5px 5px 20px;
  border: 5px solid #53b3e3;  
  border-radius: 10px;
  z-index: 10;
  position: relative;
}

//sección eventos anteriores

    .videos_eventos {
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    .carousel {
      display: flex;
      transition: transform 0.5s ease;
    }

    .videos_eventos {
      width: 1260px;
    }
    .item_videos_eventos {
      flex: 0 0 auto;
      margin: 0 10px;
    }

    .carouselmobile {
      Display: none;
      }

        @media (max-width: 767px) {
   .carouselpc{
    display:none;
      }

     .carouselmobile {
      Display: block;
      }
}

